<!DOCTYPE HTML>
<html>
    <head>
        <title>Placeholder</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0;">
        <link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    </head>

    <body>
        <div class="container">
            <div class="main-overlay">
                <img src="/static/images/placeholder" id="full-image" alt="Fullscreen Image"/>
                <div class="full-close">x</div>
            </div>
            <nav>
                <a href="/" class="default-link"><h1>Placeholder</h1></a>
                <ul>
                    <li><a href="mailto:EMAILADDRESS">Contact<div class="underline"></div></a></li>
                </ul>
            </nav>
            <div class="main-content">
                <h1 class="heading-1 page-1 mb-1">Placeholder</h1>
                <h2 class="heading-2 text-light page-1 mb-4">Placeholder</h2>

                <form action="/" method="POST" class="mb-4" id="main-form" autocomplete="off">
                    <input type="text" name="test" class="form-input" id="main-input" placeholder="Placeholder"/>
                    <button type="button" class="btn-create" id="search_button">Placeholder</button>
                </form>
            </div>
            <div class="main-background"></div>
            
        </div>
        <div class="footer">
                <p>Created with love in </p>
        </div>
        <script src="static/js/TweenMax.min.js"></script>
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/tags.js"></script>
    </body>
</html>
